@import './styles/default.scss';

.wrapper {
  @include wh(100vw, 100%);
  min-height: 100vh;
  background: -webkit-linear-gradient(90deg, #e0e1dd,#51544b);
  background: linear-gradient(90deg, #e0e1dd,#51544b);
}