body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

::-webkit-scrollbar {
  width: 16px;
  height: 8px;
  background-color: #1438617d;
}

::-webkit-scrollbar-thumb {
  background-color: #6ec7ff;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}